.account-info {
  display: flex;
  align-items: center;
}

.account-info__image {
  border-radius: 50%;
}

.account-info__title {
  padding: 8px 0px 8px 8px;

  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #2e3238;
}

@media (max-width: 767px) {
  .account-info__title {
    display: none;
  }
}
